.wd-weatherforecast {
}

.wd-weatherforecast .dark{
  color: #777;
}

.wd-weatherforecast .darker{
  color: #444;
}

.wd-weatherforecast .big-icon {
  font-size: 75%;
  line-height: 65px;
  display: inline-block;
  -ms-transform: translate(0, -3px); /* IE 9 */
  -webkit-transform: translate(0, -3px); /* Safari */
  transform: translate(0, -3px);
}

.wd-weatherforecast .summary {
  width: 400px;
}

.wd-weatherforecast .forecast {
  text-align: left;
  min-width: 400px;
  margin-top: 1ex;
}

.wd-weatherforecast .forecast-row {
}

.wd-weatherforecast .forecast-row>span {
  display: table-cell;
  width: 1px;
}

.wd-weatherforecast .forecast-row .forecast-day {
  text-align: left;
  padding-right: 0.2em;
}
.wd-weatherforecast .forecast-row .weathericon {
  text-align: center;
  padding-right: 0.5em;
}

.wd-weatherforecast .forecast-row .forecast-precip-prob {
  font-size: 70%;
  padding-right: 0.5em;
  text-align: right;
}

.wd-weatherforecast .forecast-bar {
  display: table;
  overflow: hidden;
}

.wd-weatherforecast .forecast-bar>span {
  display: table-cell;
  text-align: center;
}

.wd-weatherforecast .forecast-bar .bar {
  background-color: #aaa;
  line-height: 0.8em;
  border-radius: 1em;
  border: 0.5ex transparent solid;
  background-clip: padding-box;
  color: black;
}

.wd-weatherforecast .dark .forecast-bar .bar {
  background-color: #777;
}

.wd-weatherforecast .darker .forecast-bar .bar {
  background-color: #555;
}

.wd-weatherforecast .precipitation-graph {
  border: 1px solid #aaa;
  margin-top: 1ex;
}

.small.wd-weatherforecast .forecast {
  min-width: 200px;
  max-width: 300px;
}

.small.wd-weatherforecast .summary {
  width: 300px;
}

.small.wd-weatherforecast .precipitation-graph {
  width: 300px;
}

.small.wd-weatherforecast .forecast-row {
  font-size: 70%;
}

.small.wd-weatherforecast .forecast-bar .bar {
  line-height: 0.6em;
}

.wd-weatherforecast .sunrise-sunset > span.wi {
  padding-right: 0.3em;
  padding-left: 0.3em;
}
